body {
  font-family: roboto;
  font-weight: 200;
  color: #ffffff;
  background: #0b192f;
}
* {
  margin: 0;
}
.flex {
  display: flex;
}
.page-wrapper {
  margin: 0 auto;
  width: 80%;
}
header, section, .post-content, footer {
  flex-direction: row;
}
header {
  background: #162b4d;
  justify-content: space-between;
  align-items: baseline;
}
header .logo-wrapper {
  padding-left: 15px;
  width: 15%;
  align-self: center;
}
header .logo-wrapper p {
  font-size: 28px;
}
header .logo-wrapper p .pink-color {
  color: #B71757;
}
.menu-icon {
  display: none;
}
header .menu-wrapper {
  padding-right: 50px;
  width: 35%;
  justify-content: stretch;
}
header .menu-wrapper a {
  display: inline;
  padding: 25px 0 25px 0;
  width: 25%;
  text-decoration: none;
  font-size: 1.4vw;
  color: #ffffff;
  align-self: center;
  text-align: center;
}
header .menu-wrapper a:hover{
  cursor: pointer;
  background: rgba(184, 184, 184, 0.2);
}
main {
  justify-content: space-between;
  padding: 20px 0 20px 0;
}
.post-wrapper {
  flex-direction: column;
  width: 72%;
}
.post-wrapper section:nth-child(odd) {
  flex-direction: row-reverse;
}
.post-wrapper section:nth-child(even) .post-content {
  flex-direction: row-reverse;
  text-align: right;
}
.post-content, .post-image {
  width: 50%;
}
.post-content:last-child {
  width: 100%;
}
.post-content .post-text {
  width: 80%;
}
.post-text .post-heading {
  padding: 10% 10% 5% 10%;
}
.post-text .post-heading, .about-us-heading, .achive-heading, .contact-us-heading {
  font-weight: 200;
  font-size: 3vw;
  line-height: 1;
}
.blog-text {
  padding:  0 10% 10% 10%;
}
.blog-text, .about-us-text, .achive-text, .form-text {
  font-size: 1.2vw;
  line-height: 1.4;
  opacity: 0.8;
}
.post-5 .post-text .post-heading {
  padding: 5% 5% 2% 5%;
}
.post-5 .blog-text {
  padding: 0 5% 5% 5%;
}
.post-content .post-date {
  padding: 10px;
  opacity: 0.4;
  font-size: 2vw;
}
.post-5 .post-content {
  justify-content: space-between;
}
.post-5 .post-content .post-text {
  width: 90%;
}
.post-date .post-date-day {
  font-size: 3vw;
}
.post-image img {
  width: 100%;
  height: 100%;
}
.post-1 {
	background: #B71757;
}
.post-2 {
	background: #0D7E71;
}
.post-3 {
	background: #b1660e;
}
.post-4 {
	background: #d12767;
}
.post-5 {
	background: #2d95bb;
}
.post-content:hover, .post-image:hover {
  cursor: pointer;
  filter: opacity(0.5);
}
.article-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
}
.travel-news {
  margin-bottom: 15px;
  background: #ffffff;
  color: #000000;
}
.travel-news h3{
  padding: 10% 10% 5% 10%;
  font-weight: 300;
  font-size: 2vw;
}
.travel-news img {
  width: 100%;
}
.about-us-wrapper {
  background: #0D7E71;
}
.about-us-wrapper, .achive-text-wrapper, .contact-us-wrapper {
  padding: 3%;
}
.about-us-wrapper, .achive-wrapper, .contact-us-wrapper {
  flex-direction: column;
  margin-bottom: 2%;
}
.about-us-heading, .achive-heading, .contact-us-heading {
  padding-bottom: 2%;
}
.achive-wrapper {
  background: #b1660e;
}
.achive-wrapper img {
  width: 100%;
  height: 100%;
}
.contact-us-wrapper {
  background: #4399b8;
}
.sub-title {
  opacity: 80%;
  padding-bottom: 2%;
}
.form-control {
  border: none;
  height: 30px;
  width: 100%;
  margin: 0 0 2% 0;
  background:  #70b4cc;
}
.form-control:focus{
  outline: 0;
  color: #ffffff;
  font-weight: 200;
  padding-left: 1%;
}
#contact_message {
  height: 100px;
  resize: none;               
}
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.form-container div {
  width: 48%;   
}
.submit-btn {
  color: #ffffff;
  border: none;
  font-size: 1.2vw;
  width: 30%;
  padding: 1%;
  float: right;
  background: #1f3b68;
}
.submit-btn:hover {
  cursor: pointer;
  background: rgba(31, 59, 104, 0.2);
}

footer {
  padding: 15px 30px 15px 30px;
  background: #162b4d;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}
footer div:nth-child(2) {
  width: 20%;
}
footer .footer-text {
  font-size: 1.1vw;
  line-height: 1.4;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .page-wrapper {
    width: 95%;
  }
  header, section, .post-content, footer {
    flex-direction: column;
  }
  .post-wrapper section {
    flex-direction: column-reverse;
  }
  .post-wrapper section:nth-child(odd) {
    flex-direction: column-reverse;
  }
  .post-wrapper section:nth-child(even) .post-content {
    flex-direction: column;
    text-align: left;
  }
  .post-wrapper section .post-content {
    justify-content: center;
    align-content: center;
  }
  header {
    height: 140px;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
  header .logo-wrapper {
    padding-bottom: 30px;
    width: 100%;
  }
  .menu-wrapper {
    display: none;
  }
  .menu-icon {
    cursor: pointer;
    display: flex;
    align-self: center;
    padding: 20px;
    text-align: center;
  }
  .post-wrapper {
    width:60%;
  }
  .article-wrapper {
    width: 36%;
  }
  .post-content, .post-image {
    width: 100%;
  }
  .post-content .post-text {
    width: 100%;
  }
  footer .footer-text, .blog-text, .about-us-text, .achive-text, .form-text {
    font-size: 2vw;
  }
  .post-text .post-heading, .about-us-heading, .achive-heading, .contact-us-heading {
    font-size: 5vw;
  }
  .sub-title, .submit-btn {
    font-size: 2vw;
  }
  .post-content .post-date {
    padding: 10%;
    width: 100%;
    align-self: center;
    justify-content: center;
    text-align: center;
    font-size: 3vw;
  }
  .post-date .post-date-day {
    font-size: 4vw;
  }
  .travel-news h3, .post-content .post-date {
    font-size: 3vw;
  }
  footer {
    height: 120px;
    justify-content: center;
    text-align: center;
  }
  footer div:nth-child(2) {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  main {
    flex-direction: column;
  }
  .post-wrapper {
    width: 100%;
  }
  .article-wrapper {
    width: 100%;
  }
  footer .footer-text, .blog-text, .about-us-text, .achive-text, .form-text, .sub-title, .submit-btn {
    font-size: 4vw;
  }
  .post-text .post-heading, .post-content .post-date-day, .about-us-heading, .achive-heading, .contact-us-heading {
    font-size: 8vw;
  }
  .travel-news h3, .post-content .post-date {
    font-size: 6vw;
  }
  .about-us-wrapper, .achive-text-wrapper, .contact-us-wrapper {
    padding: 10%;
  }
}